@font-face {
  font-family: "dosfont";
  src: url("assets/fonts/Web437_IBM_VGA_8x16.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root,
html.dark {
  --text-color: #FCFCFC;
  --bg-color: #111;
  --success-color: rgb(0, 255, 0);
  --warning-color: rgb(255, 0, 0);
  --notice-color: #5453F9;
  --font-setting:  15px/22px 'Courier New', Courier, monospace;
}

html.light {
  --text-color: #111;
  --bg-color: #FCFCFC;
  --success-color: #29D730;
  --warning-color: rgb(255, 0, 0);
  --notice-color: #0100AB;
  --font-setting:  14px/22px 'Helvetica Neue', Helvetica, sans-serif;
}

html.vintage {
  --text-color: #C2C2C2;
  --bg-color: #0100AB;
  --notice-color: rgb(255, 255, 255);
  --font-setting: 16px/24px 'dosfont', 'Courier New', Courier, monospace;

  section {
    outline: 3px solid #C2C2C2;
    outline-style: double;
    border: 0;
  }

  .modal {
    --notice-color: --text-color;
    background: var(--text-color);
    color: var(--bg-color);
    outline: 5px solid var(--bg-color);
    outline-offset: -10px;

    button {
      background: var(--bg-color);
      border-color: var(--bg-color);
      color: var(--text-color);
    }

    button:not(:disabled):hover {
      background: var(--bg-color);
      border-color: var(--bg-color);
      color: var(--text-color);
    }

  }
}


html {
  font: var(--font-setting);
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg-color);
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

section {
  border: 1px solid var(--text-color);
  margin-bottom: 10px;
  padding: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  text-align: center;
  margin: 0 0 5px;
  text-transform: uppercase;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: underline;

  &:hover {
    color: var(--success-color)
  }
}

input {
  font: var(--font-setting);
}

button {
  background: var(--text-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 0;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;

  &:disabled {
    opacity: .3;
    background: var(--text-color);
    color: var(--bg-color);
    cursor: default;
  }

  &:not(:disabled):hover {
    background: var(--success-color);
    color: var(--bg-color);
  }

  &.secondary {
    background: transparent;
    padding: 0;
    border-bottom: 1px solid var(--notice-color);
    color: var(--notice-color);
    font-size: 11px;
    font-weight: bold;
  }
}


#app {
  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 800px;
  width: 98%;
  min-height: 100vh;
  margin: 0 auto;
}

.text-green {
  color: var(--success-color)
}

.text-red {
  color: var(--warning-color)
}

.text-blue {
  color: var(--notice-color)
}

.text-center {
  text-align: center
}

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 2px 6px 2px 0;
  border: 0;
  line-height: 1;
}

th {
  opacity: .6;
}

input[type="number"] {
  width: 75px;
  height: 24px;
  margin-right: 3px;
  border: 0;
  border: 1px solid var(--text-color);
}

.modal {
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  z-index: 1;
  box-shadow: 10px 10px rgba(33, 33, 33, .8);
  position: absolute;
  z-index: 20;
}

.modal-overlay-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 10;
}

.mt-auto {
  margin-top: auto;
}