@font-face {
  font-family: "dosfont";
  src: url("assets/fonts/Web437_IBM_VGA_8x16.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root,
html.dark-theme {
  --text-color: #FCFCFC;
  --bg-color: #111;
  --success-color: rgb(0, 255, 0);
  --warning-color: rgb(255, 0, 0);
  --notice-color: rgb(0, 0, 255);

  color-scheme: light dark;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --text-color: #C2C2C2;
    --bg-color: #0100AB;
    --notice-color: rgb(255, 255, 255);
  }
}

html {
  font-family: 'dosfont', 'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg-color);
}

pre {
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

section {
  border: 1px solid var(--text-color);
  margin-bottom: 10px;
  padding: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  text-align: center;
  margin: 0 0 5px;
  text-transform: uppercase;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  color: var(--success-color)
}

button {
  border-radius: 0;
  border: 1px solid var(--text-color);
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color color 0.25s;
}

button:not(:disabled):hover {
  border-color: var(--success-color);
  color: var(--success-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: .3;
}

#app {
  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 800px;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

.text-green {
  color: var(--success-color)
}

.text-red {
  color: var(--warning-color)
}

.text-blue {
  color: var(--notice-color)
}

.text-center {
  text-align: center
}

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 2px 6px 2px 0;
  border: 0;
  line-height: 1;
}

th {
  opacity: .6;
}

input[type="number"] {
  width: 50px;
  height: 28px;
  margin-right: 3px;
  border: 0;
}

.modal {
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  z-index: 1;
  box-shadow: 10px 10px rgba(33, 33, 33, .8);
  position: absolute;
  z-index: 1;
}

.modal-overlay-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0,0,0,.7);
}

.mt-auto {
  margin-top: auto;
}